body{
    background-color: #fff
}

.accordeon{ 
    max-width: 50rem;
    margin: 1rem auto;
}

.accordeon__item{
    border: 0.06rem solid rgb(233, 14, 14);
    border-radius: 1rem;
    margin: 0 0 0.31em 0;
    transition: 0.5s;
}

.accordeon__title{
    color: #000;
    display: block;
    cursor: pointer;
    padding: 1em;
    transition: all 0.5s ease-out;
}

.accordeon__item:hover{
    background-color: rgb(233, 14, 14);
}

.accordeon__input{
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
}

.accordeon__input:checked ~ .accordeon__image{
    max-height: 100em;
    transition: 1s;
}

.accordeon__image{
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.25s;
}

.accordeon__image img{
    max-height: 20rem;
    max-width: 20rem;
    padding: 1em;
}
